.footer-container {
  height: 50px;
  background-color: rgb(61,61,61);
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 50px;
  left: 0;
  width: 100%;

  .personal-links{
    display: flex;
    justify-content: center;
    align-items: center;

    a{
      margin: 0 10px;
    }
  }
}