// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.browse-grid{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;

}

.product-item {
    position: relative;
    width: 18%;
    padding: 0 8px 16px;
}

.product-item-layer {
    border: 1px solid #FAFAFA;
}

.product-image-div {
    position: relative;
    padding-top: 58%;
}

.product-image { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.products-index-container {
    display: flex;
    margin: auto;
    width: 1170px;
}

.product-body-div {
    background-color: rgb(250, 250, 250);
    text-align: left;
    padding: 16px;
}


.side-nav-container {
    width: 16.6667%;
}

.side-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 40px 0 5px;
    align-content: flex-start;

    ul > li {
        font-size: 15px;
        margin: 20px 0;
    }
}

.ticker {
    height: 50px;	
    width:100%;
    overflow: hidden;
    position: fixed;
    background: #252525;
    bottom: 0;
    left: 0;
}
.ticker h3 {
    font-size: 3em;
    color: rgb(241, 47, 216);
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    /* Apply animation to this element */	
    -moz-animation: ticker 25s linear infinite;
    -webkit-animation: ticker 25s linear infinite;
    animation: ticker 25s linear infinite;
    }
    /* Move it (define the animation) */
    @-moz-keyframes ticker {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
    }
    @-webkit-keyframes ticker {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
    }
    @keyframes ticker {
    0%   { 
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%); 		
    }
    100% { 
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); 
    }
}

.title-container {
    display: flex;
    align-items: center;
    background-color: #ECECEC;
}

.title-container{
    height: 170px;
}

.title-left {
    width: 66.6667%;
    color: #333333;
}

.title-left-text {
    margin-left: calc((100vw - 1170px)/2);
    h1 {
        font-weight: 500;
    }
}

.title-right {
    width: 33.3333%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), image-url('sauce.jpeg');
    background-position: 50% 40%;
    background-size: cover;
    opacity: 0.9;
}


.title-container h1{
    font-size: 40px;
}