.login-form-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
    position: absolute;
    align-items: center;
    background-color: rgb(250, 248, 248)
}

.login-form-box {
    height: 45%;
    max-width: 33%;
    min-width: 500px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.login-form {
    padding-top: 10px ;
    position: relative;
    box-sizing: border-box;
    display: block;
}

.login-input {
    height: 40px;
    margin: 0;
    width: 100%;
    padding-left: 10px;
    border-radius: 0;
    display: block;
    border: 1px solid lavender;
    margin-right: 0px;
    font-size: 13px;
    background-color: #E8F1FE
}

.access-toggle{
    align-items: center;
    text-align: center;
    margin: 10px 0;
    display: flex;
}

.access-toggle:hover{
    cursor: pointer;
}

.toggle-option {
    width: 50%;
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-bottom: 4px solid white;
}

.toggle-option-active {
    width: 50%;
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-bottom: 4px solid #e21823;
}

.welcome-message{
    width:100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.welcome-to-streetx {
    font-size: 17px;
    letter-spacing: 0;
    font-weight: 500;
    text-transform: none;
    color: #666;
    margin: 20px 0 10px;
}

.demo-login {
    height: 38px;
    width: 60px
}

.errors-list {
    background: #ededed;
    // border: 1px solid #4c4c4c;

    margin: 10px 0px 0px 30px;
    color: #4c4c4c;
    padding-left: 5px;
    // font-weight: 600;
}

.render-errors-div {
    height: 35px;
}